<?xml version="1.0" encoding="utf-8"?>
<!-- WltSetter.exe 用户配置文件 -->
<wltSetterConfig>
  <username>hhhhhhhc</username>
  <password>hhcsdtc</password>
  <defaultPort>1</defaultPort>
  <autoConnectAtStart>true</autoConnectAtStart>
  <showResultTip>true</showResultTip>
  <closeAfterConnect>true</closeAfterConnect>
</wltSetterConfig>
